a{
    text-decoration: none;
  }
  .footer {
      background-color: #f1f6fd;
    }
    .footer * {
      color: #fff;
      font-size: 0.9123rem;
    }
    .footer-logo {
      width: 8rem;
    }
    .footer .fa-search {
      width: 30%;
      margin-top: 3px;
      padding: 10px;
      color: #01579b;
    }